@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.port-dot-hover:hover {
  transform: translate(-50%, -50%) scale(1.4) !important;
}
